<?xml version="1.0" ?>
<launch>
  <!--joy-->
  <node pkg="joy" type="joy_node" name="joy_node"/>

  <!-- gen_motor_command-->
  <node pkg="serial_test_pkg" name="gen_motor_command" type="gen_motor_command" output="screen" respawn="true">
      <param name = "control_frequency" value = "30"/>
      <param name = "mode" value = "swerve"/> <!--swerve or mecanum-->
      <param name = "max_speed" value = "1.0"/>
  </node>

  <!--mbed serial-->
  <!--wheel-->
  <!--RB-->
    <node pkg="serial_test" name="serial_test" type="serial_test_node" output="screen" respawn="true">
        <!--param name = "port" value = "/dev/ttyACM1"/>-->
        <param name = "looprate" value = "30"/>
        <!--RB<param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066EFF495649657867251947-if02"/>-->
        <!--RF<param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_0673FF515055657867211816-if02"/>-->
        <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_0672FF495649657867253138-if02"/>
        <!--LB<param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_0672FF515055657867244941-if02"/>-->
        <remap from = "/Serial_sub_float" to = "/control" />
        <remap from = "/Serial_pub_float" to = "/status" />
    </node>
</launch>